 @font-face {
     font-family: "nes";
     src: url("assets/fonts/nes.eot?") format("eot"), url("assets/fonts/nes.woff") format("woff"), url("assets/fonts/nes.ttf") format("truetype"), url("assets/fonts/nes.svg#NesController") format("svg");
     font-weight: normal;
     font-style: normal;
 }